*{
    font-family: sans-serif;
    padding: 10px 0px 0px 10px;
}
.header{
    grid-area: header;
    background: black;
    color: white;
    justify-content: center;
    display: flex;
}
.footer{
    grid-area: footer;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
}
.content{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(7,1fr);
    grid-template-areas: 
    'header header header header'
    'nav nav nav nav'
    'container main main main'
    'container comment comment comment'
    'container comment comment comment'
    'container comment comment comment'
    'footer footer footer footer'
    ;
}
.container{
    height: 45vh;
    background: rgb(235, 233, 233);
    grid-area: container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, fr);
    grid-template-areas: 
    'search search'
    'search search'
    'related related'
    'related related';
    padding: 20px;
    gap: 20px;
}
.nav{
    grid-area: nav;
    background: #3d3d3d;
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.search{
    grid-area: search;
    background: #e0e0e0;
}
.related{
    grid-area: related;
    background: #e0e0e0;
}
.main{
    grid-area: main;
    background: rgb(235, 233, 233);
    margin-left: 15px;

}
.comment{
    grid-area: comment;
    background: #e0e0e0;
    margin-left: 15px;
    margin-bottom: 15px;

}